
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  background-color: transparent;
  color: #f5f5f5;
  border-left: solid 2px #00b4d8;
  border-right: solid 2px #00b4d8;
}


.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  width: 80%;
  text-align: center;
}


.introduction h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 1rem;
  position: relative;
}

.introduction h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0.8rem auto 0;
  background-color: #00b4d8;
  border-radius: 2px;
}

.introduction p {
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 650px;
  color: #d1d1d1;
}

.index > h1 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #fff;
}

.index > h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 0.6rem auto 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1px;
}

@media (max-width: 768px) {
  .index {
    width: 90%;
  }

  .introduction {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .introduction h1 {
    font-size: 2.2rem;
  }

  .introduction p {
    font-size: 1rem;
  }

  .index > h1 {
    font-size: 1.6rem;
  }
}
