body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: solid .1rem #222;
  background-color: #222;
}

.menu{
  width: 100%;
}

.tagline{
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.8;
}

.minimenu{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: solid .1rem #333;
}

.sidebar .logo {
  font-size: 1.5rem;
  text-align: center;
}

.sidebar nav ul {
  flex-direction: column;
  list-style: none;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.1rem;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  color: white;
}

.sidebar footer {
  font-size: 0.9rem;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #252525;
}

.contact p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact{
  width: 100%;
  border-top: solid .1rem #333;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}