---
import MainLayout from "@layouts/MainLayout.astro";
import "@styles/index.css";
import ProjectList from "@components/ProjectList.astro";
import Skills from "@components/skills.astro";
---

<MainLayout>
  <div class="index">
    <div class="introduction">
      <h1>Hello, I'm Fernando</h1>
      <p>
        Passionate about problem solving and technology development. My preferred
        focus is on backend development, where I have been honing my skills and
        knowledge over the past few years
      </p>
    </div>
    <h1>Projects</h1>
    <ProjectList />
    <h1>Skills</h1>
    <Skills />
  </div>
</MainLayout>
