---
import "@styles/skills.css";

const skills = [
    "Node.js", "Python", "C#", "Rust", "SQL", "Docker", "Git", "REST APIs",
    "Microservices", "Agile Methodologies", ".NET Core", "Tauri", "Godot",
    "TypeScript", "React", "Next.js", "Tailwind CSS", "RabbitMQ", "Entity Framework",
    "PostgreSQL", "Teamwork", "Problem Solving", "Communication", "Adaptability", "English B2"
];
---


<div class="SkillMap">
    {skills.map(skill => (
        <div class="skillCard">{skill}</div>
    ))}
</div>
    