---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | Portfolio` : 'Portfolio'}</title>
    <link rel="stylesheet" href="/src/styles/navbar.css" />
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="bio">
          <span class="name">Fernando Thiele</span>
          <span class="pos">Backend Developer</span>
        </div>
        <div class="contact">
          <a href="mailto:fnandothiele@gmail.com">fnandothiele@gmail.com</a><br />
          <a href="https://www.linkedin.com/in/fnandoth/" target="_blank">LinkedIn</a>
        </div>
      </aside>
      <main class="content">
        <slot />
      </main>
    </div>
  </body>
</html>
